
body{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36d3c1;
    display: flex;
    padding: 100px;
    font-size: large;
    font-family: 'Geologica', sans-serif;
}

#Dona{
    height:550px;
    width:700px;
    background-image: url(img/portada.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 80px;
    align-items: center;
}
#Paga{
    height: 550px;
    justify-content: center;
    align-items: center;
    background-color: #36d3c1;
    display:none;
    font-size: large;
    font-family: 'Geologica', sans-serif;

}

#formas{
   width:288px;
   height: 160px;
   padding:160px;
   background-image: url(img/cardpicture.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   align-items: center;
   font-size: large;
   font-family: 'Geologica', sans-serif;
   border-radius: 10px;
}

#tarjeta{
    padding-bottom: 20px;
    font-size: large;
    font-family: 'Geologica', sans-serif;
    border-radius: 10px;
    border: 2px solid#0a0a0a;

}

#Button1,#Button2{
    font-size: 20px;
    font-family: 'Geologica', sans-serif;
    background-color: #36d3c1;
    border-radius: 20px;
    cursor: pointer;
}