
body{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #36d3c1;
    font-size: large;
    font-family: 'Geologica', sans-serif;
    height:0%;
}

#Portada{
    background-image: url(img/portada1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position:static ;
    height: 80vh;
    padding-top: 20%;
    color:#ffffff;
    text-align: center;
    font-size: xx-large;
}

#info{
    text-align: center;
}
.contenedor {
    position: relative;
    height: 10vh; 
  }
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:contain; 
  }
#Paga{
    height: 550px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #36d3c1;
    font-size: large;
    font-family: 'Geologica', sans-serif;
    padding: 3%;
    display: none;

}

#formas{

   background-image: url(img/cardpicture.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   height: 45vh;
   text-align: center;
   padding:3%;

}


  

#tarjeta,#fechaex,#cvv{
    padding-bottom: 20px;
    font-size:medium;
    font-family: 'Geologica', sans-serif;
    border-radius: 10px;
    border: 2px solid#0a0a0a;

}

#datosi{
    display:flex;
    justify-content: space-between;
    margin: 4%;

}
#Button1{
    font-size: 30px;
    font-family: 'Geologica', sans-serif;
    background-color: #36d3c1;
    border-radius: 20px;
    cursor: pointer;

}

#Button2,#btnLimpiar{
    font-size: large;
    font-family: 'Geologica', sans-serif;
    background-color: #3770e2;
    border-radius: 20px;
    cursor: pointer;
    margin: 2%;
}


